html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* font-family: 'Open Sans'; */
    font-family: Helvetica;
}

body {
    overflow: hidden;
}

/* ----------------------------------------------------- */

/* ---------------------- LOADING ---------------------- */
.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #070c3c;
    z-index: 999;
    transition: all .3s ease-out;
}


.loader img {
    animation: rotate 2s linear infinite;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ----------------------------------------------------------- */


/* ---------------------- LOGIN SECTION ---------------------- */


#home {
    display: none;
    opacity: 0;
    transition: all .7s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-bg {
    width: 100vw;
    height: 100%;
}

.home-bg img {
    width: 100%;
    height: 790px;
}


/* ---------------------- SIDE MENU ---------------------- */

.side-menu {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .8s ease;
    z-index: 1;
}

.side-menu.close-side-menu {
    left: -18%;
    /* opacity: 0; */
}

.side-menu .side-menu__bg img {
    width: 70%;
    height: auto;
}

.side-menu__nav {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 70%;
    /* background-color: red; */
}

.side-menu__nav nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.side-menu__nav nav ul li {
    list-style: none;
    margin-bottom: 0px;
    padding-left: 35px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    transition: all .25s ease;
    cursor: pointer;
}

.side-menu__nav nav ul li:nth-child(1) {
    width: 100%;
    background-color: #5585ff29;
    border-left: 5px solid rgba(85, 133, 255);
}

.side-menu__nav nav ul li:hover {
    width: 100%;
    background-color: #5585ff29 !important;
    border-left: 5px solid rgba(85, 133, 255) !important;
}

.side-menu__nav nav ul li:nth-child(1) img {
    margin-left: -3px;
    width: 48%;
    height: auto;
}

.side-menu__nav nav ul li:nth-child(2) img {
    width: 61%;
    height: auto;
}

.side-menu__nav nav ul li:nth-child(3) img {
    width: 61%;
    height: auto;
}

.side-menu__nav nav ul li:nth-child(4) img {
    width: 60%;
    height: auto;
}

.side-menu__nav nav ul li:nth-child(5) img {
    width: 42.35%;
    height: auto;
}

.side-menu__nav nav ul li:nth-child(6) img {
    width: 55%;
    height: auto;
}

/* ---------------------- TOP MENU ---------------------- */

.top-menu {
    position: absolute;
    top: 0;
    right: 0%;
}


.top-menu .top-menu__bg>img {
    right: 0%;
    width: 100%;
    height: 96px;
    z-index: 0;
}



.top-menu__nav {
    position: absolute;
    top: 20%;
    right: -14%;
    width: 100%;
    z-index: 2;
    transition: all .8s ease;
}

.top-menu__nav.move-to-left {
    right: -.5%;
}


.top-menu__nav nav ul {
    width: 88%;
    display: flex;
    align-items: center;
    align-content: center;
}

.top-menu__nav nav ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    cursor: pointer;
}

.top-menu__nav nav ul li:nth-child(1) {
    margin-left: 50px;
}

.top-menu__nav nav ul li:nth-child(1) img:nth-child(1) {
    transform: translateX(-8px);
    transition: all .8s ease;
}

.top-menu__nav nav ul li:nth-child(1) img:nth-child(1).hide {
    display: none;

}

.top-menu__nav nav ul li:nth-child(2) {
    margin-left: 50px;
    position: relative;
}



/* ---------------------- SEARCH BOX ---------------------- */

.search-box {
    width: 34px;
    height: 34px;
    cursor: pointer;
    position: relative;
}

.search-box::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 34px;
    height: 34px;
    border: 1px solid #dadee7;
    border-radius: 50px;
    background-color: #fff;
    opacity: 0;
    display: none;
    transition: all .35s ease;
    z-index: 0;
}

.search-box::after {
    content: "";
    position: absolute;
    top: 0%;
    right: -484%;
    width: 34px;
    height: 34px;
    border: 1px solid #dadee7;
    border-radius: 50px;
    background-color: #fff;
    opacity: 0;
    display: none;
    transition: all .35s ease;
    z-index: 0;
}


.search-box.show::before {
    opacity: 1;
    cursor: pointer;
    display: block;
}

.search-box.show::after {
    opacity: 1;
    cursor: pointer;
    display: block;
}

#search-input {
    position: absolute;
    margin-left: 18px;
    width: 160px;
    height: 34px;
    border: 1px solid #dadee7;
    border-right: none;
    border-left: none;
    background-color: #fff;
    opacity: 0;
    transform-origin: left;
    transition: all .35s ease;
    z-index: 2;
    outline: none;
    padding-right: 25px;
    display: none;
}


.search-box.show #search-input {
    opacity: 1;
    display: block;
    cursor: pointer;
}


.top-menu__nav nav ul li:nth-child(2) img {
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: 3;
    transition: all .4s ease;
}

.top-menu__nav nav ul li:nth-child(2) img.move-right {
    right: -450%;
}


.top-menu__nav nav ul li:nth-child(3) {
    margin-left: 720px;
    position: relative;
    transition: all .79999s ease;

}

.top-menu__nav nav ul li:nth-child(3).move-to-right {
    margin-left: 930px;
}

.top-menu__nav nav ul li:nth-child(3) img {
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
}

.top-menu__nav nav ul li:nth-child(4) {
    margin-left: 50px;
}

.top-menu__nav nav ul li:nth-child(5) {
    margin-left: 50px;
}

.top-menu__nav nav ul li:nth-child(6) {
    margin-left: 50px;
}

.top-menu__nav nav ul li button {
    width: 160px;
    height: 40px;
    background: none;
    background-color: rgb(78, 132, 212);
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: all .2s ease;
    padding-left: 24px;
}

.top-menu__nav nav ul li button:hover,
.top-menu__nav nav ul li button:focus {
    box-shadow: 0 6px 20px -2px rgba(78, 132, 212, .55);
}

.top-menu__nav nav ul li button:active {
    box-shadow: none;
}


/* ---------------------- HOME CONTENT ---------------------- */

.home-content {
    position: absolute;
    top: 15.8%;
    left: 26%;
    display: grid;
    grid-template-rows: .1fr .45fr .45fr;
    grid-gap: 25px;
    width: 60%;
    transition: all .8s ease;
    /* border: 5px solid orange; */
    /* display: none; */
    /* opacity: 0; */
}

.home-content.change-position {
    left: 20%;
}

.home-content .heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid #5584ff; */

}

.home-content .heading h1 {
    font-size: 2.1rem;
    color: #0e1a35;
    /* border: 1px solid #5584ff; */
    margin-bottom: -8px;
}

.home-content .second-row {
    width: 100%;
    height: 270px;
    /* border: 1px solid #0e1a35; */
    display: grid;
    grid-template-columns: .385fr .615fr;
    grid-gap: 80px;
}

.home-content .second-row .left,
.home-content .second-row .right {
    height: 270px;
    position: relative;
    /* background-color: #0e1a35; */
}


/* ---------------------- SELECTION  ---------------------- */

.period {
    position: absolute;
    top: 7%;
    right: 7%;
    width: 125px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #fff;
    border: 1px solid #dadee7;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    transition: all .3s ease;

}

.period::before {
    content: '';
    position: absolute;
    top: 35%;
    left: -0.8%;
    width: 102%;
    height: 100%;
    background-color: #fff;
    border-radius: 50px;
    border-right: 1px solid #dadee7;
    border-bottom: none;
    border-left: 1px solid #dadee7;
    transform-origin: top;
    transition: all .3s ease;
    display: none;
    opacity: 0;
    z-index: 2;

}

.period::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: -0.5%;
    width: 101%;
    height: 100%;
    background-color: #fff;
    border-radius: 50px;
    border-top: none;
    border-right: 1px solid #dadee7;
    border-bottom: 1px solid #dadee7;
    border-left: 1px solid #dadee7;
    transform-origin: top;
    transition: all .3s ease;
    display: none;
    opacity: 0;
    z-index: 1;

}



.period.expand::before {
    border-radius: 0px;
    transform: scaleY(2.7);
    display: block;
    opacity: 1;
}

.period.expand::after {
    display: block;
    opacity: 1;
    bottom: -260%;
}


.period p {
    font-size: .69rem;
    color: #8492af;
    letter-spacing: -.7px;
    z-index: 3;
    cursor: pointer;
}

.period p span {
    color: #0e1a35;
    font-weight: bold;
}


.home-content>div.second-row>div.left>div>img {
    width: 7px;
    height: 4px;
    z-index: 3;
    cursor: pointer;
}

.home-content>div.second-row>div.right>div>img {
    width: 7px;
    height: 4px;
    z-index: 3;
    cursor: pointer;
}

.period .options {
    position: absolute;
    top: 85%;
    left: 10.5%;
    z-index: 3;
    display: none;
}

.period.expand .options {
    display: block;
    cursor: pointer;
}


.options p {
    margin-top: 5px;
    transition: all .4s ease;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
}

.period.expand .options p {
    transform: scaleY(1);
    opacity: 1;
}

/* ---------------------------------------------------- */

.home-content .second-row .left img {
    width: 100%;
    height: 270px;

}

.home-content .second-row .right img {
    width: 100%;
    height: 270px;

}

.home-content .third-row {
    width: 100%;
    height: 285px;
    /* border: 1px solid #5584ff; */
    display: grid;
    grid-template-columns: .33333fr .33333fr .33333fr;
    grid-gap: 80px;
}

.home-content .third-row .first,
.home-content .third-row .second,
.home-content .third-row .third {
    height: 285px;
    /* background-color: #5584ff; */
}


.home-content .third-row .first img {
    width: 100%;
    height: 285px;

}

.home-content .third-row .second img {
    width: 100%;
    height: 285px;

}

.home-content .third-row .third img {
    width: 100%;
    height: 285px;

}

/* ------------------------------------------------------ */



/* ---------------------- WORKFLOW ---------------------- */
.workflow {
    position: absolute;
    top: 15.8%;
    left: 27%;
    height: 80%;
    width: 60%;
    transition: all .8s ease;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    /* background-color: #0e1a35; */
    display: none;
    opacity: 0;

}

.workflow.change-position {
    left: 20%;
}


/* to-do*/

.workflow .to-do {
    /* background-color: #8492af; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.workflow .to-do .to-do__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.workflow .to-do .to-do__heading h1 {
    font-size: 1.48rem;
    color: #0e1a35;
}

.workflow .to-do .to-do__heading h1 span {

    color: #8492af;
}

.workflow .to-do .to-do__heading img {
    width: 10px;
    height: 16px;
    cursor: pointer;
}

.workflow .to-do .to-do1 {
    margin-bottom: 10px;
    position: relative;
}

.workflow .to-do .to-do1 img:nth-child(1) {
    width: 100%;
    height: auto;
}

.workflow .to-do .to-do1 img:nth-child(2) {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 5px;
    height: 24px;
    cursor: pointer;
}

.workflow .to-do .to-do1 img:nth-child(3) {
    position: absolute;
    top: 55%;
    left: 23.5%;
    width: 18.1%;
    height: auto;
}



.option-container {
    position: absolute;
    top: 50%;
    right: -23.5%;
    width: 85.5px;
    height: 68px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #dadee7;
    padding: 9px;
    font-size: .71rem;
    z-index: 2;
    color: #0e1a35;
    box-shadow: 0 0 10px 1px #dadee7de;
    display: none;
    opacity: 0;
}



.option-container.open-options {

    display: block;
    opacity: 1;
}



.option-container p {
    margin-bottom: 6px;
    letter-spacing: .21px;
    font-weight: 600;
}


.workflow .to-do .to-do2 {
    margin-bottom: 10px;
    position: relative;
}

.workflow .to-do .to-do2 img:nth-child(1) {
    width: 100%;
    height: auto;
}

.workflow .to-do .to-do2 img:nth-child(2) {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 5px;
    height: 24px;
    cursor: pointer;
}

.workflow .to-do .to-do2 img:nth-child(3) {
    position: absolute;
    top: 55%;
    left: 23.5%;
    width: 18.1%;
    height: auto;
}


.workflow .to-do .to-do3 {
    margin-bottom: 10px;
    position: relative;
}

.workflow .to-do .to-do3 img:nth-child(1) {
    width: 100%;
    height: auto;
}

.workflow .to-do .to-do3 img:nth-child(2) {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 5px;
    height: 24px;
    cursor: pointer;
}

.workflow .to-do .to-do3 img:nth-child(3) {
    position: absolute;
    top: 55%;
    left: 23.5%;
    width: 18.1%;
    height: auto;
}


.workflow .to-do .to-do4 {
    margin-bottom: 10px;
    position: relative;
}

.workflow .to-do .to-do4 img:nth-child(1) {
    width: 100%;
    height: auto;
}

.workflow .to-do .to-do4 img:nth-child(2) {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 5px;
    height: 24px;
    cursor: pointer;
}

.workflow .to-do .to-do4 img:nth-child(3) {
    position: absolute;
    top: 55%;
    left: 23.5%;
    width: 18.1%;
    height: auto;
}


.workflow .to-do .to-do5 {
    margin-bottom: 10px;
    position: relative;
}

.workflow .to-do .to-do5 img:nth-child(1) {
    width: 100%;
    height: auto;
}

.workflow .to-do .to-do5 img:nth-child(2) {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 5px;
    height: 24px;
    cursor: pointer;
}

.workflow .to-do .to-do5 img:nth-child(3) {
    position: absolute;
    top: 55%;
    left: 23.5%;
    width: 18.1%;
    height: auto;
}


.workflow .to-do .to-do6 {
    margin-bottom: 10px;
    position: relative;
}

.workflow .to-do .to-do6 img:nth-child(1) {
    width: 100%;
    height: auto;
}

.workflow .to-do .to-do6 img:nth-child(2) {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 5px;
    height: 24px;
    cursor: pointer;
}

.workflow .to-do .to-do6 img:nth-child(3) {
    position: absolute;
    top: 55%;
    left: 23.5%;
    width: 18.1%;
    height: auto;
}


/* in-progress */

.workflow .in-progresses {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overscroll-behavior-y: contain;
}


.workflow .in-progresses .in-progress__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.workflow .in-progresses .in-progress__heading h1 {
    font-size: 1.48rem;
    color: #0e1a35;
}

.workflow .in-progresses .in-progress__heading h1 span {

    color: #8492af;
}

.workflow .in-progresses .in-progress__heading img {
    width: 10px;
    height: 16px;
    cursor: pointer;
}

.workflow .in-progresses .in-progress {
    margin-bottom: 10px;
    position: relative;
}

.workflow .in-progresses .in-progress img:nth-child(1) {
    width: 100%;
    height: auto;
}

.workflow .in-progresses .in-progress img:nth-child(2) {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 5px;
    height: 24px;
    cursor: pointer;
}

.workflow .in-progresses .in-progress img:nth-child(3) {
    position: absolute;
    top: 55%;
    left: 23.5%;
    width: 16.5%;
    height: auto;
}

.workflow .in-progresses .in-progress img:nth-child(3).five-days-left {
    position: absolute;
    top: 55%;
    left: 23.5%;
    width: 18.1%;
    height: auto;
}

.workflow .in-progresses .in-progress img:nth-child(3).two-days-delay {
    position: absolute;
    top: 55%;
    left: 23.5%;
    width: 23%;
    height: auto;
}

.option-container2 {
    position: absolute;
    top: 50%;
    right: -21.5%;
    width: 79.5px;
    height: 50.5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #dadee7;
    padding: 9px;
    font-size: .71rem;
    z-index: 2;
    color: #0e1a35;
    box-shadow: 0 0 10px 1px #dadee7de;
    display: none;
    opacity: 0;
}



.option-container2.open-options {

    display: block;
    opacity: 1;
}

.option-container2 p {
    margin-bottom: 6px;
    letter-spacing: .21px;
    font-weight: 600;
}


.container2 {
    position: absolute;
    top: 50%;
    right: -21.5%;
    width: 79.5px;
    height: 50.5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #dadee7;
    padding: 9px;
    font-size: .71rem;
    z-index: 2;
    color: #0e1a35;
    box-shadow: 0 0 10px 1px #dadee7de;
    display: none;
    opacity: 0;
}

.container2.open-options {

    display: block;
    opacity: 1;
}

.container2 p.delete2,
.container2 p.completed2 {
    margin-bottom: 6px;
    letter-spacing: .21px;
    font-weight: 600;
}


.container3 {
    position: absolute;
    top: 50%;
    right: -18%;
    width: 70px;
    height: 32px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #dadee7;
    padding: 9px;
    font-size: .71rem;
    z-index: 2;
    color: #0e1a35;
    box-shadow: 0 0 10px 1px #dadee7de;
    display: none;
    opacity: 0;
}

.container3.open-options {

    display: block;
    opacity: 1;
}

.container3 p.delete3 {
    margin-bottom: 6px;
    letter-spacing: .21px;
    font-weight: 600;
}


/* completed */


.workflow .completed-all {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.workflow .completed-all .completed__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.workflow .completed-all .completed__heading h1 {
    font-size: 1.48rem;
    color: #0e1a35;
}

.workflow .completed-all .completed__heading h1 span {
    color: #8492af;
}

.workflow .completed-all .completed__heading img {
    width: 10px;
    height: 16px;
    cursor: pointer;
}

.workflow .completed-all .completed {
    margin-bottom: 10px;
    position: relative;
}

.workflow .completed-all .completed img:nth-child(1) {
    width: 100%;
    height: auto;
}

.workflow .completed-all .completed img:nth-child(2) {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 5px;
    height: 24px;
    cursor: pointer;
}



.workflow .completed-all .completed img:nth-child(3).completed-badge {
    position: absolute;
    top: 55%;
    left: 23.5%;
    width: 21.2%;
    height: auto;
}


.option-container3 {
    position: absolute;
    top: 50%;
    right: -18%;
    width: 70px;
    height: 32px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #dadee7;
    padding: 9px;
    font-size: .71rem;
    z-index: 2;
    color: #0e1a35;
    box-shadow: 0 0 10px 1px #dadee7de;
    display: none;
    opacity: 0;
}



.option-container3.open-options {
    display: block;
    opacity: 1;
}

.option-container3 p {
    margin-bottom: 6px;
    letter-spacing: .21px;
    font-weight: 600;
}


/* ------------------------------------------------------ */



/* ---------------------- STATISTICS ---------------------- */
.statistics {
    position: absolute;
    top: 15.2%;
    left: 28.5%;
    height: 73%;
    width: 57%;
    transition: all .8s ease;
    display: grid;
    grid-template-rows: .11fr .9fr;
    grid-row-gap: 22px;
    /* background-color: #0e1a35; */
    display: none;
    opacity: 0;
}

.statistics.change-position {
    left: 21%;
}

.statistics .statistics__first-row {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
    /* border: 1px solid #5584ff; */

}

.statistics .statistics__first-row .statistics__selections {
    display: flex;
    align-items: center;
    /* border: 1px solid #5584ff; */
    /* background-color: #0e1a35; */

}

.selection {
    width: 125px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 1px solid #dadee7;
    border-radius: 50px;
    padding: 5px;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
}

.selection::before {
    content: '';
    position: absolute;
    top: 35%;
    left: -0.5%;
    width: 102%;
    height: 100%;
    background-color: #fff;
    border-radius: 50px;
    border-right: 1px solid #dadee7;
    border-bottom: none;
    border-left: 1px solid #dadee7;
    transform-origin: top;
    transition: all .3s ease;
    display: none;
    opacity: 0;
    z-index: 2;

}

.selection::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: -0.5%;
    width: 101%;
    height: 100%;
    background-color: #fff;
    border-radius: 50px;
    border-top: none;
    border-right: 1px solid #dadee7;
    border-bottom: 1px solid #dadee7;
    border-left: 1px solid #dadee7;
    transform-origin: top;
    transition: all .3s ease;
    display: none;
    opacity: 0;
    z-index: 1;

}

.selection.expand {
    /* border-bottom: none; */
    background-color: #fff;
}

.selection.expand::before {
    border-radius: 0px;
    transform: scaleY(2.7);
    display: block;
    opacity: 1;
}

.selection.expand::after {
    display: block;
    opacity: 1;
    bottom: -260%;
}

.selection p {
    font-size: .69rem;
    color: #8492af;
    letter-spacing: -.7px;
    z-index: 3;
    cursor: pointer;
}

.selection>p>span {
    color: #0e1a35;
    font-weight: bold;
}

.statistics__selections .selection .selection__arrow {
    width: 7px;
    height: 4px;
    z-index: 3;
    cursor: pointer;
}


.selection .selection__options {
    position: absolute;
    top: 85%;
    left: 10.5%;
    z-index: 3;
    display: none;
}

.selection.expand .selection__options {
    cursor: pointer;
    display: block;
}


.selection .selection__options p {
    margin-top: 5px;
    transition: all .4s ease;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    color: #0e1a35;
}

.selection.expand .selection__options p {
    transform: scaleY(1);
    opacity: 1;
}


/* -------------------------------------------------------- */

.statistics .statistics__first-row .heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid #5584ff; */

}

.statistics .heading h1 {
    font-size: 1.6rem;
    color: #0e1a35;
    /* border: 1px solid #5584ff; */
    margin-bottom: -8px;
}

.statistics__container {
    display: grid;
    grid-template-columns: .394fr .606fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 25px;
    /* background-color: #0e1a35; */
}

.likes-views img {
    width: 100%;
    height: auto;
}


.active-users {
    position: relative;
}

.active-users img {
    width: 100%;
    height: auto;
}

.active-users img:nth-child(2) {
    width: 32px;
    height: auto;
    position: absolute;
    top: 7.6%;
    right: 12.25%;
    cursor: pointer;

}

.active-users img:nth-child(3) {
    width: 32px;
    height: auto;
    position: absolute;
    top: 7.6%;
    right: 4%;

    cursor: pointer;
}

.total-sales {
    grid-column: 1 / -1;
    position: relative;

}

.total-sales img {
    width: 100%;
    height: auto;

}

.total-sales img:nth-child(2) {
    width: 32px;
    height: auto;
    position: absolute;
    top: 8.4%;
    right: 7.2%;
    cursor: pointer;
}

.total-sales img:nth-child(3) {
    width: 32px;
    height: auto;
    position: absolute;
    top: 8.4%;
    right: 2.4%;
    cursor: pointer;
}



.total-sales__container {
    position: absolute;
    top: 78%;
    left: 4.5%;
}


.chart {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 45px;
    text-align: center;
}

.chart.chart-widget-pie {
    margin-top: 5px;
    margin-bottom: 5px;
}

.chart canvas {
    position: absolute;
    top: -2%;
    left: -45%;
}

.percent1 {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-weight: bold;
    color: #5484ff;


}

.percent2 {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-weight: bold;
    color: #aa5fb9;
}

.percent3 {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f83c7b;
}

.percent1:after {
    content: '%';
    margin-left: 0.1em;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-weight: bold;
    color: #5484ff;

}

.percent2:after {
    content: '%';
    margin-left: 0.1em;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-weight: bold;
    color: #aa5fb9;

}

.percent3:after {
    content: '%';
    margin-left: 0.1em;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f83c7b;

}

.editing1 {
    display: inline-block;
    color: #8492af;
    font-family: Helvetica;
    font-size: 1.3rem;
    font-weight: bold;
}


.editing1 p {
    font-weight: 100;
    font-size: .7rem;
}

.editing2 {
    display: inline-block;
    color: #8492af;
    font-family: Helvetica;
    font-size: 1.3rem;
    font-weight: bold;
}


.editing2 p {
    font-weight: 100;
    font-size: .7rem;
}

.editing3 {
    display: inline-block;
    color: #8492af;
    font-family: Helvetica;
    font-size: 1.3rem;
    font-weight: bold;
}

/* .editing3 span:nth-child(1) {
    display: inline-block;
    outline: 1.8px solid #95b3fd;
    padding: 3px;
} */

.editing3 p {
    font-weight: 100;
    font-size: .7rem;
}

/* ------------------------------------------------------- */


/* ---------------------- CALENDAR  ---------------------- */

.calendar {
    position: absolute;
    top: 15.2%;
    left: 30.3%;
    height: 80%;
    width: 53%;
    transition: all .8s ease;
    display: grid;
    grid-template-rows: .1fr .9fr;
    grid-row-gap: 20px;
    /* background-color: #0e1a35; */
    display: none;
    opacity: 0;
}

.calendar.change-position {
    left: 22.7%;
}

.calendar__first-row {
    /* background-color: #5584ff; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar__second-row {
    background-color: #dadee7;
    border: 1px solid #bcc4d31a;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 40px repeat(6, 1fr);
    grid-gap: 1px;

}

.calendar__second-row>div {
    background-color: white;
    height: 90px;
    width: 100%;
    color: #0e1a35;
    padding: 12px 30px 12px 15px;
}

.calendar__second-row div.date {
    background-color: white;
    /* height: 84px; */
    height: 91px;
    width: 100%;
    color: #0e1a35;
    padding: 12px 30px 12px 15px;
    font-size: .98rem;
    font-weight: 600;
}

.calendar__second-row div.week {
    height: 40px;
    text-transform: uppercase;
    padding: 12px 30px 12px 15px;
    color: #0e1a35;
    font-weight: bold;
}

.calendar__second-row div.date.today-bg {
    background-color: #f6f7fa;
}

.calendar__second-row div.date.non-current {
    color: #8492af;
}

.calendar__second-row div.date.date-2 {
    position: relative;
}

.calendar__second-row div.date.date-2 .event {
    background-color: #f6f7fa;
    position: absolute;
    bottom: 0;
    left: 1.5px;
    height: 27px;
    width: 98%;
    padding: 6px 6px 6px 10.5px;
    font-size: .6rem;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 3px solid #5584ff;
    margin-bottom: 1.5px;
    cursor: pointer;
}

.calendar__second-row div.date.date-6 {
    position: relative;
}

.calendar__second-row div.date.date-6 .event:nth-child(1) {
    background-color: #f6f7fa;
    position: absolute;
    bottom: 27px;
    left: 1.5px;
    height: 27px;
    width: 98%;
    padding: 6px 6px 6px 10.5px;
    font-size: .6rem;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 3px solid #f83c7b;
    margin-bottom: 3.5px;
    cursor: pointer;
}

.calendar__second-row div.date.date-6 .event:nth-child(2) {
    background-color: #f6f7fa;
    position: absolute;
    bottom: 0;
    left: 1.5px;
    height: 27px;
    width: 98%;
    padding: 6px 6px 6px 10.5px;
    font-size: .6rem;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 3px solid #5584ff;
    margin-bottom: 1.5px;
    cursor: pointer;
}

.calendar__second-row div.date.date-8 {
    position: relative;
}

.calendar__second-row div.date.date-8 .event {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 1.5px;
    height: 27px;
    width: 98%;
    padding: 6px 6px 6px 10.5px;
    font-size: .6rem;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 3px solid #5584ff;
    margin-bottom: 1.5px;
    cursor: pointer;
}

.calendar__second-row div.date.date-12 {
    position: relative;
}

.calendar__second-row div.date.date-12 .event {
    background-color: #f6f7fa;
    position: absolute;
    bottom: 0px;
    left: 1.5px;
    height: 27px;
    width: 98%;
    padding: 6px 6px 6px 10.5px;
    font-size: .6rem;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 3px solid #5584ff;
    margin-bottom: 1.5px;
    cursor: pointer;
}

.calendar__second-row div.date.date-27 {
    position: relative;
}

.calendar__second-row div.date.date-27 .event {
    background-color: #f6f7fa;
    position: absolute;
    bottom: 0px;
    left: 1.5px;
    height: 27px;
    width: 98%;
    padding: 6px 6px 6px 10.5px;
    font-size: .6rem;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 3px solid #5584ff;
    margin-bottom: 1.5px;
    cursor: pointer;
}

.calendar__second-row div.date.date-non-current-8 {
    position: relative;
}

.calendar__second-row div.date.date-non-current-8 .event:nth-child(1) {
    background-color: #f6f7fa;
    position: absolute;
    bottom: 27px;
    left: 1.5px;
    height: 27px;
    width: 98%;
    padding: 6px 6px 6px 10.5px;
    font-size: .6rem;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 3px solid #f83c7b;
    margin-bottom: 3.5px;
    cursor: pointer;
}

.calendar__second-row div.date.date-non-current-8 .event:nth-child(2) {
    background-color: #f6f7fa;
    position: absolute;
    bottom: 0;
    left: 1.5px;
    height: 27px;
    width: 98%;
    padding: 6px 6px 6px 10.5px;
    font-size: .6rem;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 3px solid #5584ff;
    margin-bottom: 1.5px;
    cursor: pointer;
}


/* EVENT TOOLTIP */

@keyframes scale1 {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.16);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes scale2 {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.16);
    }

    100% {
        transform: scale(1);
    }
}

#tooltip-wrapper {
    position: absolute;
    bottom: -241%;
    right: -180%;
    /* background-color: white; */
    /* transform: translate(-50%, -50%); */
    transform-origin: top left;
    width: 200px;
    height: 260px;
    z-index: 2;
    transition: all .3s ease-out;
    display: none;
    opacity: 0;
}

#tooltip-wrapper>img {
    position: absolute;
    top: 4%;
    right: 5%;
    width: 12px;
    opacity: .36;
    cursor: pointer;
    /* z-index: */
}

#tooltip-wrapper .tooltip-container {
    background-color: white;
    width: 200px;
    height: 260px;
    box-shadow: 0 12px 18px 0px rgba(132, 146, 175, .3);
    display: flex;
    flex-direction: column;
}

#tooltip-wrapper .tooltip-container:before {
    content: "";
    position: absolute;
    top: 5%;
    left: -3.2%;
    background-color: white;
    width: 20px;
    height: 20px;
    transform: rotateZ(45deg);

}

#tooltip-wrapper .tooltip-container .tooltip-container-first {
    width: 200px;
    height: 86.666px;
    border-bottom: .8px solid rgba(0, 0, 0, .26);
    display: flex;
    flex-direction: column;
    /* z-index: 10; */

}

#tooltip-wrapper .tooltip-container .tooltip-container-first>p {
    margin: 15px 20px 5px 20px;
    font-size: .7rem;
    font-weight: bold;
    color: #8492af;

}

#tooltip-wrapper .tooltip-container .tooltip-container-first>div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    margin-top: 5px;
    /* margin-bottom: 5px; */
    margin-left: -10px;
}

#tooltip-wrapper .tooltip-container .tooltip-container-first>div>img {
    /* border: 1px solid red; */
    /* background-color: rgba(0, 0, 0, 0); */
    border-radius: 50%;
}

#tooltip-wrapper .tooltip-container .tooltip-container-first>div>div {
    display: flex;
    height: 40px;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: flex-start;
    margin-left: -5px;
}


#tooltip-wrapper .tooltip-container .tooltip-container-first>div>div p:nth-child(1) {
    font-size: .9rem;
    font-weight: bold;
    /*   border: 1px solid red; */
    margin: 2.5px 0px;
}

#tooltip-wrapper .tooltip-container .tooltip-container-first>div>div p:nth-child(2) {
    font-size: .7rem;
    /* border: 1px solid red; */
    margin: 2.5px 0px;
    color: #8492af;
    font-weight: 300;
}



#tooltip-wrapper .tooltip-container .tooltip-container-second {
    width: 200px;
    height: 86.666px;
    border-bottom: .8px solid rgba(0, 0, 0, .26);
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;

}

#tooltip-wrapper .tooltip-container .tooltip-container-second .tooltip-container-second-left p {
    color: #8492af;
    font-size: .7rem;
    font-weight: bold;
    margin-left: 9px;
    margin-right: 4px;
}

#tooltip-wrapper .tooltip-container .tooltip-container-second .tooltip-container-second-left p:not(:last-child) {
    padding-bottom: 6px;
}

#tooltip-wrapper .tooltip-container .tooltip-container-second .tooltip-container-second-right p {
    color: #0e1a35;
    font-size: .6rem;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 9px;
    text-align: right;
}

#tooltip-wrapper .tooltip-container .tooltip-container-second .tooltip-container-second-right p:not(:last-child) {
    padding-bottom: 7.5px;
}

#tooltip-wrapper .tooltip-container .tooltip-container-third {
    width: 200px;
    height: 86.666px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tooltip-wrapper .tooltip-container .tooltip-container-third button {
    background-color: #5584ff;
    color: white;
    border: none;
    border-radius: 50px;
    width: 126px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    cursor: pointer;
    outline: none;
    transition: all .2s ease;
}

#tooltip-wrapper .tooltip-container .tooltip-container-third button:hover,
#tooltip-wrapper .tooltip-container .tooltip-container-third button:focus {
    box-shadow: 0 6px 15px -2px rgba(78, 132, 212, .55);
}

#tooltip-wrapper .tooltip-container .tooltip-container-third button:active {
    box-shadow: none;
    /* transform: translateY(2px); */
}

/* --------------------------- */


.calendar__heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #5584ff; */
}

.calendar__heading img {
    width: 6px;
    height: 10px;
    cursor: pointer;
}

.calendar__heading h1 {
    margin-left: 12px;
    margin-right: 12px;
    color: #0e1a35;
}


.calendar__selection {
    width: 125px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 1px solid #dadee7;
    border-radius: 50px;
    padding: 5px;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
}

.calendar__selection::before {
    content: '';
    position: absolute;
    top: 35%;
    left: -0.5%;
    width: 102%;
    height: 100%;
    background-color: #fff;
    border-radius: 50px;
    border-right: 1px solid #dadee7;
    border-bottom: none;
    border-left: 1px solid #dadee7;
    transform-origin: top;
    transition: all .3s ease;
    display: none;
    opacity: 0;
    z-index: 2;

}

.calendar__selection::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: -0.5%;
    width: 101%;
    height: 100%;
    background-color: #fff;
    border-radius: 50px;
    border-top: none;
    border-right: 1px solid #dadee7;
    border-bottom: 1px solid #dadee7;
    border-left: 1px solid #dadee7;
    transform-origin: top;
    transition: all .3s ease;
    display: none;
    opacity: 0;
    z-index: 1;

}

.calendar__selection.expand {
    /* border-bottom: none; */
    background-color: #fff;
}

.calendar__selection.expand::before {
    border-radius: 0px;
    transform: scaleY(2.7);
    display: block;
    opacity: 1;
}

.calendar__selection.expand::after {
    display: block;
    opacity: 1;
    bottom: -260%;
}

.calendar__selection p {
    font-size: .69rem;
    color: #8492af;
    letter-spacing: -.7px;
    z-index: 3;
    cursor: pointer;
}

.calendar__selection>p>span {
    color: #0e1a35;
    font-weight: bold;
}

.calendar__selection .calendar__selection-arrow {
    width: 7px;
    height: 4px;
    z-index: 3;
    cursor: pointer;
}


.calendar__selection .calendar__selection-options {
    position: absolute;
    top: 85%;
    left: 10.5%;
    z-index: 3;
    display: none;
}

.calendar__selection.expand .calendar__selection-options {
    cursor: pointer;
    display: block;
}


.calendar__selection .calendar__selection-options p {
    margin-top: 5px;
    transition: all .4s ease;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    color: #0e1a35;
}

.calendar__selection.expand .calendar__selection-options p {
    transform: scaleY(1);
    opacity: 1;
}


/* -------------------------------------------------------- */